h3{

    float: left;
    
    }

.div2{
    height: 75px;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 150px;

}

.middle {
    grid-column: 2;
  }

img{

    height: auto;
    width: 100%;

}

.div3{

width: 30%;
border-style: solid;
border-color: black;
}